<div class="ui container" style="padding-top:25px; padding-bottom: 50px;">
  <div class="ui segment">
    <div class="ui form">
      <%= form_for @post, html: {multipart: true} do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :title %>
          <%= f.text_area :title, placeholder: "Title" %>
        </div>

        <div class="field">
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, placeholder: "Description", rows: "7" %>
        </div>

        <div class="field">
          <%= f.label :created_at, "Post Created" %>
          <%= @post.created_at.strftime("%b %d, %Y - %I:%M %p %Z") %>
        </div>

        <div class="field">
          <%= f.label :updated_at, "Post Last Updated" %>
          <%= @post.updated_at.strftime("%b %d, %Y - %I:%M %p %Z") %>
        </div>

        <div class="ui grid" style="margin-top:30px;">
          <div class="four column row">
            <div class="right floated column">
              <div class="actions">
                <%= f.submit class: "ui blue button"%>
                <%= link_to 'Cancel', @post, class: "ui red button" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
