<div class="ui container" style="margin-top:30px;">
  <div id="posts" class="transitions-enabled">
    <div class="card-columns-four relaxed">
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
          <div class="box ui link card">
            <div class="image">
              <%= image_tag post.image.url(:medium) %>
            </div>
            <div class="content">
               <div class="header">
                 <%= raw post.title %>
               </div>
               <div class="description">
                 <%= truncate(post.description, :length => 125, :separator => " " )%>
               </div>
             </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="ui grid" style="margin-top:30px;">
    <div class="four column row">
      <div class="right floated column">
        <%= link_to 'New Post', new_post_path, class: "ui blue button" %>
      </div>
    </div>
  </div>
<% end %>
</br></br></br></br></br></br></br></br></br></br></br></br>
