<div class="ui container">
<div id="posts" class="transitions-enabled">
  <div class="ui grid">
  <% @posts.each do |post| %>
    <div class="six wide column">
    <div class="ui card">
      <div class="image">
        <%= image_tag post.image.url(:medium) %>
      </div>
        <div class="content">
           <a class="header">
             <%= link_to raw(post.title), post %>
           </a>
           <div class="description">
             <%= raw post.description %>
           </div>
          <% if post.user == current_user %>
         <td><%= link_to 'Edit', edit_post_path(post) %></td>
         <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <% end %>
     </div>
    </div>
  </div>
  <% end %>
</div>
</div>

  <br>
  <% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
  <% end %>
</div>
