<div class="ui container" style="margin-top:30px;">

  <table class="ui celled padded table">
    <thead>
      <tr>
      <th colspan="2" class="center aligned">Post</th>
      <th class="center aligned">Description</th>
      <th class="center aligned">Created</th>
      <th class="center aligned">Last Edited</th>
      <th class="center aligned">Active?</th>
    </tr></thead>

    <% @posts.each do |post| %>
    <tbody>
      <tr>

        <td>
          <h4 class="ui image header">
            <%= image_tag post.image.url(:medium), class: "ui small rounded image" %>
        </td>

        <td>
          <%= link_to raw(post.title), post %>
        </td>

        <td>
          <%= raw post.description.truncate(100) %>
        </td>

        <td>
          <%= post.try(:created_at).try(:strftime, '%b %d, %Y - %I:%M %p %Z') %>
        </td>

        <td>
          <%= post.try(:updated_at).try(:strftime, '%b %d, %Y - %I:%M %p %Z') %>
        </td>

        <td>
          <%= post.active %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% if user_signed_in? %>
  <div class="ui grid" style="margin-top:30px;">
    <div class="four column row">
      <div class="right floated column">
        <%= link_to 'New Post', new_post_path, class: "ui blue button" %>
      </div>
    </div>
  </div>
<% end %>
</br></br></br></br></br></br></br></br></br></br></br></br>
</div>
