<% if user_signed_in? or @post.active == true %>

  <div class="ui container">
    <p id="notice"><%= notice %></p>

      <div class="ui fluid image">
        <%= image_tag @post.image.url %>
      </div>

      <div class="postheader">
        <div class="ui center aligned header">
          <%= @post.title %></br>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="postdescription">
        <%= raw @post.description%></br>
      </div>

    </br></br>

      <%= link_to "http://twitter.com/home?status=#{@post.title} #{post_url(@post)}",  title: 'Tweet Me!' do %>
      <i class="huge twitter icon" data-content="Tweet me!"></i>
      <% end %>

      <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{post_url(@post)}",  title: 'Share Me!' do %>
      <i class="huge facebook icon" data-content="Share Me!"></i>
      <% end %>

  </br></br>

    <%= link_to 'All Posts', posts_path, class: "ui green button", 'data-turbolinks' => false %>
  </div>

  <% else %>

  <div class="ui fluid container">
    <div class="ui center aligned huge header" style="color: #a9a9a9; font-size: 2vw; padding-top: 20px;">
      Sorry, nothing here at the moment
      <i class="frown icon"></i>
    </div>
    <div class="ui fluid image">
      <%= image_tag("deer.jpg") %>
    </div>
  </div>

  <% end %>

  <% if user_signed_in? %>
    <div class="ui grid" style="margin-top:30px;">
      <div class="four column row">
        <div class="right floated column">
          <%= link_to 'Edit', edit_post_path(@post), class: "ui blue button" %>
          <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
        </div>
      </div>
    </div>
  <% end %>
