<div class="ui container">
  <p id="notice"><%= notice %></p>

    <div class="ui fluid image">
      <%= image_tag @post.image.url %>
    </div>

    <h1 class="ui center aligned header">
      <%= @post.title %></br>
    </h1>

    <p>
    <%= @post.description%></br>
    </p>


  <%= link_to 'All Posts', posts_path, class: "ui green button", 'data-turbolinks' => false %>
</div>


<% if user_signed_in? %>
  <div class="ui grid" style="margin-top:30px;">
    <div class="four column row">
      <div class="right floated column">
        <%= link_to 'Edit', edit_post_path(@post), class: "ui blue button" %>
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
      </div>
    </div>
  </div>
<% end %>
